body { 
    background:#222; 
    color:#fff; 
    font-family:"Press Start 2P", sans-serif; 
    margin:0; padding:20px; 
    text-align:center; 
  }
  h1 {
     font-size:40px; 
     margin-top:20px; 
    }
  .line-container { 
    display:flex; 
    align-items:center; 
    justify-content:center;
    margin:30px 0; }
  .line { 
    flex:1;
     height:3px;
      background:white;
     }
  .box { 
    background:white; 
    color:black; 
    font-size:40px; 
    font-weight:bold;
     width:80px; 
     height:80px; 
     display:flex; 
     align-items:center; 
     justify-content:center; 
     margin:0 20px; }
  .game-container {
     display:flex; 
     justify-content:center;
      align-items:flex-start; 
      margin-top:40px; 
      gap:50px;
     }
  .left { 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    gap:20px; 
    }
  .guess-input { 
    width:100px; 
    height:50px; 
    font-size:30px; 
    text-align:center; 
    border:2px solid #fff; 
    background:none; 
    color:#fff; 
    }
  .btn { 
    font-size:20px; 
    padding:10px 20px; 
    border:none; 
    background:#fff; 
    color:#000; 
    cursor:pointer; 
    }
  .btn:hover { 
    background:#ddd;
     }
  .right {
     text-align:left; 
     font-size:16px; 
    }
  .message { 
    margin-bottom:20px; 
    }